.jumbotron{
    background-color: rgb(234, 250, 241)
}

h1{
    text-align: center;
    font-family: "Text_Styles/DancingScript-Bold.ttf", cursive;
}

h3{
    text-align: center;
    color: darkblue;
    font-size: 30px;
    font-family: "Text_Styles/Indie_Flower";
}

h5{
    text-align: center;
    color: red; 
    font-size: 30px;
    font-family: "Text_Styles/Indie_Flower.zip";
}

p{
    font-family: 'Arial';
    font-size: 17px;
    text-align: justify
}

.section{
    border-bottom-style:hidden;
    margin-top:1em;
}